doctype html
html(lang="en")
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css', rel='stylesheet' type='text/css')
  body
    h1 Markdown previewer
    #app
    script(src='index.js')
